<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer-wrapper">

    <h2 class="footer-heading">&copy; {% capture year %}{{ site.time | date: "%Y" }}{% endcapture %}{{ year }} {{ site.author.name | escape }}</h2>

    <p class="footer-description">{{- site.description | escape -}}</p>

    <div class="footer-social">
      {%- include social.html -%}
    </div>

  </div>

</footer>